@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; // layout riêng cho admin
}
<h2 class="m-0">Trang quản trị</h2>
<p class="m-0">Chào mừng bạn đến trang quản trị.</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Tổng số sách</h5>
                <p class="card-text fs-4">@ViewBag.TotalBooks</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Tổng đơn hàng</h5>
                <p class="card-text fs-4">@ViewBag.TotalOrders</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Tổng doanh thu</h5>
                <p class="card-text fs-4">@ViewBag.TotalRevenue.ToString("N0") ₫</p>
            </div>
        </div>
    </div>
</div>