@{
    var topics = ViewBag.Topics as List<bookstore.Models.Topic>;
}

<div class="mt-4">
    <h6 class="bg-primary text-white p-2">SÁCH THEO CHỦ ĐỀ</h6>
    <ul class="list-group">
        @foreach (var cd in topics)
        {
            <a href="/category-detail/@cd._id" class="text-decoration-none">
            <li class="list-group-item">@cd.name</li>
            </a>
        }
    </ul>
</div>

